body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1 {
    color:rgb(255, 0, 98);
}
form {
    color: black;
}
.container {
    display: flex;
    width: 100%;
    text-align: left;
    float: right;
}
ul {
    list-style-type: none;
    text-align: center;
    margin:0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    color:red;
}
img {
    border-radius: 80%;
}
#navigation_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}